USE [master]
GO
/****** Object:  Database [CredencialesEcarDB]    Script Date: 7/08/2025 1:17:01 p. m. ******/
CREATE DATABASE [CredencialesEcarDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CredencialesEcarDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CredencialesEcarDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CredencialesEcarDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CredencialesEcarDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CredencialesEcarDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CredencialesEcarDB]
GO
/****** Object:  User [juan]    Script Date: 7/08/2025 1:17:01 p. m. ******/
CREATE USER [juan] FOR LOGIN [juan] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ECAR\jegallego]    Script Date: 7/08/2025 1:17:01 p. m. ******/
CREATE USER [ECAR\jegallego] FOR LOGIN [ECAR\jegallego] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ECAR\jegallego]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/08/2025 1:17:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credenciales]    Script Date: 7/08/2025 1:17:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credenciales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoEquipo] [nvarchar](50) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[CodigoUsuario] [nvarchar](50) NOT NULL,
	[NombreEmpleado] [nvarchar](255) NOT NULL,
	[Perfil] [nvarchar](100) NOT NULL,
	[Usuario] [nvarchar](100) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[UsuarioRegistro] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Credenciales_CodigoEquipo_CodigoUsuarioECAR] UNIQUE NONCLUSTERED 
(
	[CodigoEquipo] ASC,
	[CodigoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 7/08/2025 1:17:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoEmpleado] [nvarchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[NombreEmpleado] [nvarchar](255) NOT NULL,
	[Cargo] [nvarchar](100) NOT NULL,
	[Area] [nvarchar](100) NOT NULL,
	[SubArea] [nvarchar](100) NOT NULL,
	[Nota] [nvarchar](max) NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[UsuarioRegistro] [nvarchar](255) NOT NULL,
	[FirmaBPM] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Empleados_codigo_empleado_ecar] UNIQUE NONCLUSTERED 
(
	[CodigoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Empleados_NombreEmpleado] UNIQUE NONCLUSTERED 
(
	[NombreEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 7/08/2025 1:17:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoEquipo] [nvarchar](50) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[NombreEquipo] [nvarchar](100) NOT NULL,
	[Sede] [nvarchar](50) NOT NULL,
	[Area] [nvarchar](50) NOT NULL,
	[SubArea] [nvarchar](50) NOT NULL,
	[Nota] [nvarchar](max) NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[UsuarioRegistro] [nvarchar](255) NOT NULL,
	[RutaImagen] [nvarchar](500) NULL,
	[HojaDeVida] [nvarchar](2048) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Equipos_CodigoEquipo] UNIQUE NONCLUSTERED 
(
	[CodigoEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosTI]    Script Date: 7/08/2025 1:17:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosTI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](255) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[RolUsuario] [nvarchar](50) NOT NULL,
	[ContrasenaUsuario] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UsuariosTI_NombreUsuario] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UsuariosTi_Usuario] UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Credenciales]  WITH CHECK ADD  CONSTRAINT [FK_Credenciales_Empleados_CodigoEmpleado] FOREIGN KEY([CodigoUsuario])
REFERENCES [dbo].[Empleados] ([CodigoEmpleado])
GO
ALTER TABLE [dbo].[Credenciales] CHECK CONSTRAINT [FK_Credenciales_Empleados_CodigoEmpleado]
GO
ALTER TABLE [dbo].[Credenciales]  WITH CHECK ADD  CONSTRAINT [FK_Credenciales_Equipos_CodigoEquipo] FOREIGN KEY([CodigoEquipo])
REFERENCES [dbo].[Equipos] ([CodigoEquipo])
GO
ALTER TABLE [dbo].[Credenciales] CHECK CONSTRAINT [FK_Credenciales_Equipos_CodigoEquipo]
GO
ALTER TABLE [dbo].[Credenciales]  WITH CHECK ADD  CONSTRAINT [FK_Credenciales_NombreEmpleado_Empleados_NombreEmpleado] FOREIGN KEY([NombreEmpleado])
REFERENCES [dbo].[Empleados] ([NombreEmpleado])
GO
ALTER TABLE [dbo].[Credenciales] CHECK CONSTRAINT [FK_Credenciales_NombreEmpleado_Empleados_NombreEmpleado]
GO
ALTER TABLE [dbo].[Credenciales]  WITH CHECK ADD  CONSTRAINT [FK_Credenciales_UsuarioRegistro_UsuariosTI_NombreUsuario] FOREIGN KEY([UsuarioRegistro])
REFERENCES [dbo].[UsuariosTI] ([NombreUsuario])
GO
ALTER TABLE [dbo].[Credenciales] CHECK CONSTRAINT [FK_Credenciales_UsuarioRegistro_UsuariosTI_NombreUsuario]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_UsuarioRegistro_UsuariosTI_NombreUsuario] FOREIGN KEY([UsuarioRegistro])
REFERENCES [dbo].[UsuariosTI] ([NombreUsuario])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_UsuarioRegistro_UsuariosTI_NombreUsuario]
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_UsuarioTiRegistro_UsuariosTI_NombreUsuario] FOREIGN KEY([UsuarioRegistro])
REFERENCES [dbo].[UsuariosTI] ([NombreUsuario])
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FK_Equipos_UsuarioTiRegistro_UsuariosTI_NombreUsuario]
GO
/****** Object:  StoredProcedure [dbo].[SP_Empleados_ActualizarEstado_Cascade]    Script Date: 7/08/2025 1:17:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Empleados_ActualizarEstado_Cascade]
    @IdEmpleado INT,           -- El ID del empleado cuyo estado fue actualizado (clave primaria de Empleados)
    @NuevoEstado NVARCHAR(50)  -- El nuevo estado del empleado ('Activo' o 'Inactivo')
AS
BEGIN
    SET NOCOUNT ON; -- Para evitar que se devuelvan recuentos de filas afectadas

    -- Iniciar una transacción para asegurar la atomicidad de la operación
    BEGIN TRANSACTION;
    BEGIN TRY
        -- Lógica para DESACTIVAR credenciales cuando el Empleado cambia a 'Inactivo'
        IF @NuevoEstado = 'Inactivo'
        BEGIN
            UPDATE C
            SET C.Estado = @NuevoEstado
            FROM dbo.Credenciales AS C
            INNER JOIN dbo.Empleados AS E ON C.CodigoUsuario = E.CodigoEmpleado -- CORRECTO según tus modelos (Credencial.CodigoUsuario y Empleado.CodigoEmpleadoEcar [columna: CodigoEmpleado])
            WHERE E.Id = @IdEmpleado -- Asegura que solo se afecten las credenciales del empleado específico
              AND C.Estado <> @NuevoEstado; -- Solo si la credencial no está ya en el nuevo estado
            
            -- Puedes añadir un LOGGING o PRINT aquí si quieres ver lo que pasa en SSMS
            -- PRINT 'Credenciales del empleado ' + CAST(@IdEmpleado AS NVARCHAR(10)) + ' inactivadas en cascada.';
        END;

        -- Lógica para ACTIVAR credenciales cuando el Empleado cambia a 'Activo'
        -- SOLO SI EL EQUIPO ASOCIADO A LA CREDENCIAL TAMBIÉN ESTÁ ACTIVO
        IF @NuevoEstado = 'Activo'
        BEGIN
            UPDATE C
            SET C.Estado = @NuevoEstado
            FROM dbo.Credenciales AS C
            INNER JOIN dbo.Empleados AS E ON C.CodigoUsuario = E.CodigoEmpleado -- CORRECTO según tus modelos
            INNER JOIN dbo.Equipos AS EQ ON C.CodigoEquipo = EQ.CodigoEquipo -- Unir con la tabla Equipos por CodigoEquipo
            WHERE E.Id = @IdEmpleado -- El empleado que se acaba de activar
              AND EQ.Estado = 'Activo' -- Y el equipo asociado está activo
              AND C.Estado <> @NuevoEstado; -- Y la credencial no está ya en el nuevo estado

            -- Puedes añadir un LOGGING o PRINT aquí si quieres ver lo que pasa en SSMS
            -- PRINT 'Credenciales del empleado ' + CAST(@IdEmpleado AS NVARCHAR(10)) + ' activadas en cascada (donde los equipos están activos).';
        END;

        -- Si todo fue bien, confirmar la transacción
        COMMIT TRANSACTION;
        SELECT 1 AS Success, 'Operación de cascada de estado de empleado completada exitosamente.' AS Message;

    END TRY
    BEGIN CATCH
        -- Si ocurre algún error, revertir la transacción
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Capturar el mensaje de error para devolverlo a la aplicación cliente
        DECLARE @ErrorMessage NVARCHAR(MAX) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Devolver un resultado que indique el fallo y el mensaje de error
        SELECT 0 AS Success, 'Error en la operación de cascada de estado: ' + @ErrorMessage AS Message;

        -- Opcional: Re-lanzar el error para que también se vea en los logs de SQL Server Management Studio
        -- RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Equipos_ActualizarEstado_Cascade]    Script Date: 7/08/2025 1:17:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Equipos_ActualizarEstado_Cascade]
    @IdEquipo INT,             -- El ID del equipo cuyo estado fue actualizado
    @NuevoEstado NVARCHAR(50)  -- El nuevo estado del equipo ('Activo' o 'Inactivo')
AS
BEGIN
    SET NOCOUNT ON;

    -- Iniciar una transacción para asegurar la atomicidad de la operación
    BEGIN TRANSACTION;
    BEGIN TRY
        -- Obtener el CodigoEquipo del equipo que está siendo actualizado
        -- Lo necesitamos para unir con la tabla Credenciales
        DECLARE @CodigoEquipo_Actualizado NVARCHAR(50);
        SELECT @CodigoEquipo_Actualizado = CodigoEquipo
        FROM dbo.Equipos
        WHERE Id = @IdEquipo;

        IF @CodigoEquipo_Actualizado IS NULL
        BEGIN
            ;THROW 50000, 'El equipo especificado no fue encontrado.', 1;
        END

        -- Lógica para DESACTIVAR credenciales cuando el Equipo cambia a 'Inactivo'
        IF @NuevoEstado = 'Inactivo'
        BEGIN
            UPDATE C
            SET C.Estado = @NuevoEstado
            FROM dbo.Credenciales AS C
            WHERE C.CodigoEquipo = @CodigoEquipo_Actualizado -- Credenciales asociadas al equipo actualizado
              AND C.Estado <> @NuevoEstado; -- Solo si la credencial no está ya en este estado

            PRINT 'Credenciales del equipo ' + @CodigoEquipo_Actualizado + ' inactivadas en cascada.';
        END;

        -- Lógica para ACTIVAR credenciales cuando el Equipo cambia a 'Activo'
        -- SOLO SI EL EMPLEADO ASOCIADO TAMBIÉN ESTÁ ACTIVO
        IF @NuevoEstado = 'Activo'
        BEGIN
            UPDATE C
            SET C.Estado = @NuevoEstado
            FROM dbo.Credenciales AS C
            INNER JOIN dbo.Empleados AS EMP ON C.CodigoUsuario = EMP.CodigoEmpleado -- Unir con Empleados (C.CodigoUsuario -> EMP.CodigoEmpleadoEcar)
            WHERE C.CodigoEquipo = @CodigoEquipo_Actualizado -- El equipo que se acaba de activar
              AND EMP.Estado = 'Activo' -- Y el empleado asociado está activo
              AND C.Estado <> @NuevoEstado; -- Y la credencial no está ya en este estado

            PRINT 'Credenciales del equipo ' + @CodigoEquipo_Actualizado + ' activadas en cascada (donde los empleados están activos).';
        END;

        -- Si todo fue bien, confirmar la transacción
        COMMIT TRANSACTION;
        SELECT 1 AS Success, 'Operación de cascada de estado de equipo completada exitosamente.' AS Message;

    END TRY
    BEGIN CATCH
        -- Si ocurre algún error, revertir la transacción
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Capturar el mensaje de error para devolverlo a la aplicación cliente
        DECLARE @ErrorMessage NVARCHAR(MAX) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Devolver un resultado que indique el fallo y el mensaje de error
        SELECT 0 AS Success, 'Error en la operación de cascada de estado: ' + @ErrorMessage AS Message;

        -- Opcional: Re-lanzar el error para depuración
        -- RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO
USE [master]
GO
