@model ECARTemplate.Models.UsuarioTI

@{
    ViewData["Title"] = "Crear Nuevo Usuario";
}

<div class="container">
    <h1 class="text-center mb-4">Crear Nuevo Usuario</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-light">
                    <h4 class="mb-0">Nuevo Usuario</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="NombreUsuario" class="control-label"></label>
                            <input asp-for="NombreUsuario" class="form-control" />
                            <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Usuario" class="control-label"></label>
                            <input asp-for="Usuario" class="form-control" />
                            <span asp-validation-for="Usuario" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="RolUsuario" class="control-label"></label>
                            <input asp-for="RolUsuario" class="form-control" />
                            <span asp-validation-for="RolUsuario" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ContrasenaUsuario" class="control-label"></label>
                            <input asp-for="ContrasenaUsuario" class="form-control" type="password" />
                            <span asp-validation-for="ContrasenaUsuario" class="text-danger"></span>
                        </div>

                        <div class="form-group text-center mt-4">
                            <button type="submit" class="btn btn-primary">Crear</button>
                            <a asp-action="Index" class="btn btn-secondary ms-2">Volver a la Lista</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}