@model ECARTemplate.Models.UsuarioTI

@{
    ViewData["Title"] = "Editar Usuario";
}

<h1>Editar Usuario</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label"></label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RolUsuario" class="control-label"></label>
                <input asp-for="RolUsuario" class="form-control" />
                <span asp-validation-for="RolUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContrasenaUsuario" class="control-label"></label>
                <input asp-for="ContrasenaUsuario" class="form-control" type="password" />
                <span asp-validation-for="ContrasenaUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section ScriptsBlock {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}